*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  background-color: #171717;
  color: #e3e3e3;
  font-family: "Young Serif", serif;
}

main {
  border: 3px solid #e3e3e3;
  width: 60vw;
  height: 80vh;
  margin: 80px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library {
  padding: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.library div {
  color: #e7d087;
  padding: 10px;
  background-color: #282828;
  border-radius: 15px;
}

.add-book-btn {
  background-color: #e7d087;
  margin: 5px;
  padding: 13px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  color: #044904
}

.add-book-btn:active {
  transform: translateY(2px)
}